<?xml version="1.0" encoding="UTF-8"?>
<plugin>
<name>IndexOfFigures</name>
<type>edit</type>
<author>Salvatore Ventura</author>
<description>Create an Index of all Figures in the book</description>
<engine>python3.4</engine>
<version>0.1.0</version>
<autostart>true</autostart>
<autoclose>false</autoclose>
<oslist>osx,unx,win</oslist>
</plugin>